html {
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

button {
  display: inline-block;
}

textarea {
  resize: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

*:focus,
*:active {
  outline: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
